
/* following bootstrap example  https://getbootstrap.com/docs/5.0/examples/checkout/ */


.fc-body {
    text-align: center;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: #9CF;
    font-family: HelveticaNeueCondensed, HelveticaNeue-Condensed, 'Helvetica Neue Condensed',  'Helvetica Neue Roman Condensed', 'Arial Narrow', HelveticaNeue, 'Helvetica Neue', Arial, sans-serif;
}
.clear { clear: both; }

.container {
    display: flex;
    flex-direction: column;

    width: 100%;
    flex-grow: 1;
    padding-bottom:200px;

}

section.sectionpage {min-width: 440px;}


main.fc-main {    
  /*max-width: 960px; border: solid 1px red;
  min-width: 480px; */
  border:none;
}


.bg-dark-fcblue {
    --bs-bg-opacity: 1;
    background-color: #006dcc;
}


.fc-body .fc-main nav   {
  background-color: #006dcc;
color: #fff;
}

.fc-main nav .nav-link{font-size:larger}




.fc-body .fc-main  nav img {
  width: 100px;
}

.lead {font-size: 2.1em; }



.fc-body .jepCol {
	text-align: center;
	margin: 0;
	margin-top: 30px;
	/* margin-left: auto;
	margin-right: auto;
	width: 800px;
	width: 970px;*/
}


.jepList {
	min-height: 40px;
  width: 100%;
	min-width: 80px;
	margin: 0;
	padding: 0;
	float: left;
}
.jepList li {
	list-style-type: none;
	margin: 4px 2px;
	padding: 0;
	min-width: 80px;
	text-align: center;
}
.jepList li.jepTopic {
	background-color: skyblue;
	color: black;
	text-align: center;
	border-radius: 4px;
}
.jepList li.jepTopic p {
	text-align: center;
}
.jepList li.jepTopic h3,
.jepList li.jepTopic h4 {
	margin: 0;
	padding: 20px 4px;
	font-size: 20px;
	background-color: #CCCCCC;
	border: 2px solid #999999;
	border-radius: 4px;
	color: #333333;
  min-height: 96px;
	
}
.jepList li.jepTopic h4 {
	
	display:none; 
}
.jepList li a {
	border: 1px solid #000000;
	padding: 12px 0;
	min-width: 80px;
  width: 100%;
	font-size: 38px;
	font-weight: bold;
}

section#page-game-board{display:block;}

/*.textRed {color: red;}
.textPurple {color: purple;}
.textGreen {color: green;}*/

.col-1-spacer-div {
  width: 2px; padding: 2px; font-size: 1px;
}

/* On screens that are 480px wide or less, make the left col game td narrow */
  @media screen and (max-width: 480px) {
   .col-1-spacer-div {
      width: 2px; padding: 2px; font-size: 1px;
    }
    .minwidth75 {min-width:75px;}
  }
  @media (min-width: 500px) {   
    body {display:block; } 
    .minwidth75 {min-width:95px;}
    .col-1-spacer-div {
      width: 6px; ;
    }
  }    /* LT< 576px - Bootstrap default */
  @media (min-width: 576px) {   
    body {display:block; } 
    .minwidth75 {min-width:100px;}
    .col-1-spacer-div {
      width: 10px; ;
    }
  }    /* LT< 576px - Bootstrap default */
  @media (min-width: 768px) {    
    body { display: block; }  
    .minwidth75 {min-width:130px;}
        .col-1-spacer-div {
      width: 14px; ;
    }
  } /*  tablets, 768px and up */
  @media (min-width: 992px) { body {display:block} .minwidth75 {min-width:160px;}}  /* desktops, 992px and up */
  @media (min-width: 1200px) { body {display:block}  .minwidth75 {min-width:180px;}}  /* large desktops, 1200px and up  */



