

.fc-body {
    text-align: center;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: #9CF;
    font-family: HelveticaNeueCondensed, HelveticaNeue-Condensed, 'Helvetica Neue Condensed',  'Helvetica Neue Roman Condensed', 'Arial Narrow', HelveticaNeue, 'Helvetica Neue', Arial, sans-serif;
}
.clear { clear: both; }

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-grow: 1;
    padding-bottom:50px;
}

.hidden {display:none;}
section.sectionpage {min-width: 440px;}

main.fc-main {    
  border:none;
}

.bg-dark-fcblue {
    --bs-bg-opacity: 1;
    background-color: #006dcc;
}

.fc-body .fc-main nav   {
  background-color: #006dcc;
color: #fff;
padding: 2px;
}

.fc-main nav .nav-link{font-size:larger}

.fc-body .fc-main  nav img {
  width: 100px;
}

.lead {font-size: 2.1em; }

main nav.navbar {padding: 2px 2px;}

.fc-body .jepCol {
	text-align: center;
	margin: 0;
	margin-top: 30px;
}

.jepList {
	min-height: 40px;
  width: 100%;
	min-width: 80px;
	margin: 0;
	padding: 0;
	float: left;
}
.jepList li {
	list-style-type: none;
	margin: 4px 2px;
	padding: 0;
	min-width: 80px;
	text-align: center;
}
.jepList .jepTopic,
.jepList span.jepTopic {
	background-color: skyblue;
	color: black;
	text-align: center;
	border-radius: 4px;
}
.jepList .jepTopic p {
	text-align: center;
}
.jepList .jepTopic h3,
.jepList .jepTopic h4 {
	margin: 0;
	padding: 20px 4px;
	font-size: 20px;
	background-color: #CCCCCC;
	border: 2px solid #999999;
	border-radius: 4px;
	color: #333333;
  min-height: 96px;
	
}
.jepList li.jepTopic h4 {
	
	display:none; 
}
.jepList li a {
	border: 1px solid #000000;
	padding: 12px 0;
	min-width: 80px;
  width: 100%;
	font-size: 38px;
	font-weight: bold;
}

.pad20 {padding: 10px;}
.pad10 {padding: 5px;}

section#page-game-board{display:block;}
.teams {list-style: none; font-size: 20px; }
.textRed {color: red; font-weight: bold;}
.textPurple {color: purple; font-weight: bold;}
.textGreen {color: green; font-weight: bold;}

.col-1-spacer-div {
  width: 2px; padding: 2px; font-size: 1px;
}

.btn-purple {
    --bs-btn-color: #fff;
    --bs-btn-bg: #751987;
    --bs-btn-border-color: #751987;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #5a1368;
    --bs-btn-hover-border-color: #4f0a5c;
    --bs-btn-focus-shadow-rgb: 98, 23, 113;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #4f0a5c;
    --bs-btn-active-border-color: #671078;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #751987;
    --bs-btn-disabled-border-color: #751987;
}

/*.fs-5 {
    font-size: 1.25rem!important;
}*/
.score-text {  font-size: 1.25rem; }


/* On screens that are 480px wide or less, make the left col gameboard td narrow */
  @media screen and (max-width: 480px) {
    .col-1-spacer-div {
      width: 2px; padding: 2px; font-size: 1px;
    }
    .minwidth75 {min-width:75px;}
    
  }
  @media (min-width: 500px) {   
    body {display:block; } 
    .minwidth75 {min-width:95px;}
    .col-1-spacer-div {
      width: 6px; ;
    }

  }    /* LT< 576px - Bootstrap default */

  @media (min-width: 576px) {   
    body {display:block; } 
    .minwidth75 {min-width:100px;}
    .col-1-spacer-div {
      width: 10px; ;
    }
    .score-text {  font-size: 1.35rem; }

  }    /* LT< 576px - Bootstrap default */
  @media (min-width: 768px) {    
    body { display: block; }  
    .minwidth75 {min-width:130px;}
    .col-1-spacer-div {
      width: 14px; ;
    }
    .score-text {  font-size: 1.45rem; }

  } /*  tablets, 768px and up */
  @media (min-width: 992px) { 
    body {display:block} 
    .minwidth75 {min-width:160px;}
    .score-text {  font-size: 1.65rem; }

  }  /* desktops, 992px and up */
  @media (min-width: 1200px) { 
    body {display:block}  
    .minwidth75 {min-width:180px;}
    .score-text {  font-size: 1.85rem; }

  }  /* large desktops, 1200px and up  */




